workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Sender Message'] }}",
        "options": {
          "systemMessage": "=### IDENTITY & GREETING (MANDATORY)\n1.  **Name:** Iris.\n2.  **Greeting Rule:** In your **very first response**, you MUST explicitly state your name.\n    * *Good:* \"Hello! I am Iris, [CLIENT_BUSINESS_NAME]'s personal assistant. How can I help you today?\"\n3.  **Context:** You are the AI representative for [CLIENT_BUSINESS_NAME].\n\n### LANGUAGE LOGIC (STRICT)\nYou must function as a mirror for every single turn.\n1.  **Dynamic Detection:** Analyze the language of the **latest user message** (English, Arabic, or German).\n2.  **Strict Output:** Your entire response must match that detected language. \n3.  **No Exceptions:** Never switch back to a default language unless the user switches first.\n4.  **Localization:** Translate all service names, payment methods, and currency contexts (JOD) into the user's current language.\n\n### OPERATIONAL CONSTRAINTS\n1.  **Length Limit:** Strictly under 200 characters per response.\n    * *Exception:* Pricing tables and payment instructions may exceed this limit.\n2.  **Scope:** Answer ONLY using provided documentation.\n3.  **Unknown Info:** If the information is not in your documents, do not guess. Apologize in the user's language and immediately trigger the **Human Handoff** protocol.\n\n### VIBE & TONE\n* **Persona:** Warm, intelligent, and helpful.\n* **Style:** Conversational but professional.\n\n### PROTOCOL: SERVICES & PRICING\n[PASTE CLIENT SERVICES HERE]\n\n### PROTOCOL: HUMAN HANDOFF\n**Triggers:** * User asks for a person/human. * Question not in documents. * User expresses frustration.\n\n**Action (Mandatory):**\n1.  Reply politely in the **USER'S LATEST LANGUAGE** (e.g., \"I'm connecting you to a team member now.\")\n2.  Append the following tag at the very end of your message: ###HUMAN_HANDOFF###"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        880
      ],
      "id": "f3d5a6b0-d601-4191-8a2d-b59cdd872b78",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        1104
      ],
      "id": "ac66c4be-25ca-4bf2-b8df-7a35b9cd4122",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "bFB3Vd36RdUVDlIJ",
          "name": "NeuroLink Memory"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_CLIENT_PAGE_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n\"recipient\": {\n\"id\": $('Receive The Message').item.json.body.entry[0].messaging[0].sender.id\n},\n\"messaging_type\": \"RESPONSE\",\n\"message\": {\n\"text\": $('Extract Output').item.json.output\n}\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1136
      ],
      "id": "a8c4e8a1-cdf4-4cf4-9ea2-9ccbb08215dc",
      "name": "Messenger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        144
      ],
      "id": "159570a2-206c-4527-9729-8194acbbe867",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PI1Ze8h4NvmSzxxm",
          "name": "NeuroLink Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_CLIENT_PAGE_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n\"recipient\": {\n\"id\": $('Receive The Message').item.json.body.entry[0].messaging[0].sender.id\n},\n\"messaging_type\": \"RESPONSE\",\n\"message\": {\n\"text\": $('Extract Output').item.json.output\n}\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1296
      ],
      "id": "5bb0a21a-067b-4f77-a9cd-29b6980cf81d",
      "name": "Instagram"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8bb73ea5-b7ed-4715-a276-ac3dc0680469",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "225565ea-3a27-4fd8-b34e-6ed5efd4d048",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "PASTE_YOUR_VERIFY_TOKEN_HERE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        480
      ],
      "id": "ea677d31-d3f6-4aa9-aece-14f8c31ec880",
      "name": "Verification"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -112,
        864
      ],
      "id": "e5e2ca5f-346d-41cd-83bc-8878a899af73",
      "name": "OK to Meta"
    },
    {
      "parameters": {
        "content": "# RAG Pipeline",
        "height": 352,
        "width": 1632,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        96
      ],
      "typeVersion": 1,
      "id": "fa199ddd-0e8b-4a14-ae89-f07105018e54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot",
        "height": 992,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        448
      ],
      "typeVersion": 1,
      "id": "9f823c8e-4608-4408-868c-7b68095a581a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "neurodata",
          "mode": "list",
          "cachedResultName": "neurodata"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        768,
        144
      ],
      "id": "6134c041-b373-4104-98ad-45a42a4c008e",
      "name": "Vector Store / Data",
      "credentials": {
        "supabaseApi": {
          "id": "lPuqxgROtcymX4Zp",
          "name": "NeuroLink DB"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve information about NeuroLink (you) from the Vector store",
        "tableName": {
          "__rl": true,
          "value": "neurodata",
          "mode": "list",
          "cachedResultName": "neurodata"
        },
        "topK": 20,
        "useReranker": true,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        1104
      ],
      "id": "a7c9ba62-4c16-49b3-ab82-7a8a2e351393",
      "name": "Query Data",
      "credentials": {
        "supabaseApi": {
          "id": "lPuqxgROtcymX4Zp",
          "name": "NeuroLink DB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        1104
      ],
      "id": "b7fb4192-9f38-41e2-aac4-ed87437cc6fa",
      "name": "Open AI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AHMemnFcLIcA3b8a",
          "name": "NeuroLink"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "PASTE_GOOGLE_DRIVE_FOLDER_ID_HERE",
            "mode": "list",
            "cachedResultName": "NeuroLink Chatbot RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1DLfVXDAxatUFthJRrDA970hDqmHLc8_f"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        144
      ],
      "id": "994a00f7-de35-4565-a3f1-fd46e42ec8bb",
      "name": "Look Up Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PI1Ze8h4NvmSzxxm",
          "name": "NeuroLink Credentials"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ],
      "id": "c0f133a1-794d-41f4-b86e-d5367e683f69",
      "name": "Execute when clicking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f70293e-5bc9-4973-9b2b-230967adc04c",
              "leftValue": "={{ $json.wantsHuman }}",
              "rightValue": "={{ \"human\" || \"person\" }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        880
      ],
      "id": "77b599c0-79ef-408c-a47c-6b5a972ea63e",
      "name": "Human Answer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfdd5656-3561-4c39-ae14-f8ad1f7e456b",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "29c80649-3f3e-4319-80bd-58040f83c222",
              "name": "recipient",
              "value": "={{ $('Receive The Message').item.json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        1248
      ],
      "id": "f7ecbb1e-c6c6-406a-aa78-3954136cb950",
      "name": "Extract Output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Receive The Message').item.json.body.object }}",
                    "rightValue": "page",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "47b38863-ab6e-4843-be02-6548ff7530b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Messenger"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73cf6a92-61f3-4d49-8ada-6f5f2295ed07",
                    "leftValue": "={{ $('Receive The Message').item.json.body.object }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Insta"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        816,
        1248
      ],
      "id": "f94ac7b2-2ba5-4d82-b481-129c1c2db7d2",
      "name": "Insta/Mess"
    },
    {
      "parameters": {
        "sendTo": "PASTE_AGENCY_EMAIL_HERE",
        "subject": "Urgent Message - Human Needed",
        "emailType": "text",
        "message": "Open message and reply manually. NOW",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        976
      ],
      "id": "c3803689-20b4-4f30-a626-c8902ef54b94",
      "name": "Urgent Email to neurolink",
      "webhookId": "65a8ec01-2f42-4a62-a25b-845ba6943fd7",
      "credentials": {
        "gmailOAuth2": {
          "id": "PwwdSFBSJOngqykj",
          "name": "NEURO FINAL ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Establish the current time in Jordan\nconst dateString = new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Amman\" });\nconst banObj = new Date(dateString);\n\n/** * HELPER FUNCTION: Formats date to YYYY-MM-DD for Database compatibility\n * Using manual slicing to avoid locale-specific surprises\n */\nconst formatDateForDB = (date) => {\n  const yyyy = date.getFullYear();\n  const mm = String(date.getMonth() + 1).padStart(2, '0');\n  const dd = String(date.getDate()).padStart(2, '0');\n  return `${yyyy}-${mm}-${dd}`;\n};\n\n// 2. Format Ban Date and Time\nconst banDate = formatDateForDB(banObj); // Outputs: YYYY-MM-DD\nconst banTime = banObj.toLocaleTimeString(\"en-GB\", { hour12: false });\n\n// 3. Calculate Unban Time (Add 2 hours)\nconst unbanObj = new Date(banObj);\nunbanObj.setHours(unbanObj.getHours() + 2);\n\n// 4. Format Unban Date and Time\nconst unbanDate = formatDateForDB(unbanObj); // Outputs: YYYY-MM-DD\nconst unbanTime = unbanObj.toLocaleTimeString(\"en-GB\", { hour12: false });\n\nreturn [{ \n  banDate: banDate,\n  banTime: banTime,\n  unbanDate: unbanDate,\n  unbanTime: unbanTime,\n  // Sending these as separate \"Time2HourAhead\" or \"Time\" fields as seen in your screenshot:\n  Time: banTime,\n  Time2HourAhead: unbanTime\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        800
      ],
      "id": "75cf303e-bd5f-419a-8c09-dbc055abdda5",
      "name": "Time Of Ban"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3fbcfb8-5955-4a51-96e3-c21e9598ceb6",
              "leftValue": "={{ $json.isBanActive }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        672
      ],
      "id": "cf53714d-b3f2-41b9-b5ca-4a6de488c4de",
      "name": "Check Ban",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a52b99c-92f5-42e3-a909-02f50f4a021c",
              "name": "body.entry[0].messaging[0].sender.id",
              "value": "={{ $('Receive The Message').item.json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "1a019e50-5afd-4388-baf1-c055fc1edb2e",
              "name": "Sender Message",
              "value": "={{ $('Receive The Message').item.json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        688
      ],
      "id": "0e714635-09be-4b2e-8e03-dfa3f603018e",
      "name": "Extract Output For Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Receive The Message').item.json.body.object }}",
                    "rightValue": "page",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "47b38863-ab6e-4843-be02-6548ff7530b2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Messenger"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73cf6a92-61f3-4d49-8ada-6f5f2295ed07",
                    "leftValue": "={{ $('Receive The Message').item.json.body.object }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Insta"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        832,
        544
      ],
      "id": "a1dab216-be77-4a96-9927-cd3ea18880bf",
      "name": "Insta/Mess Human Need"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_CLIENT_PAGE_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n\"recipient\": {\n\"id\": $('Receive The Message').item.json.body.entry[0].messaging[0].sender.id\n},\n\"messaging_type\": \"RESPONSE\",\n\"message\": {\n\"text\": $('Human Keyword').item.json.output\n}\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        640
      ],
      "id": "61d19be2-592f-433e-8ff8-a4e18274ce71",
      "name": "Instagram Human Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v24.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_CLIENT_PAGE_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n\"recipient\": {\n\"id\": $('Receive The Message').item.json.body.entry[0].messaging[0].sender.id\n},\n\"messaging_type\": \"RESPONSE\",\n\"message\": {\n\"text\": $('Human Keyword').item.json.output\n}\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        480
      ],
      "id": "439dbb05-eadf-425c-979d-cedd15b74236",
      "name": "Messenger Human Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfdd5656-3561-4c39-ae14-f8ad1f7e456b",
              "name": "Sender ID",
              "value": "={{ $('Extract Output For Agent').item.json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "29c80649-3f3e-4319-80bd-58040f83c222",
              "name": "Time",
              "value": "={{ $json.banTime }}",
              "type": "string"
            },
            {
              "id": "401f2b01-fc5e-4ef7-9f78-7db60e8f9ac1",
              "name": "Time2HourAhead",
              "value": "={{ $json.unbanTime }}",
              "type": "string"
            },
            {
              "id": "f97a6bc3-de7b-4a5c-8b10-04e2784aa694",
              "name": "banDate",
              "value": "={{ $json.banDate }}",
              "type": "string"
            },
            {
              "id": "dd058f59-a5fe-49af-9deb-1a3d68046312",
              "name": "unbanDate",
              "value": "={{ $json.unbanDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        800
      ],
      "id": "f6926b50-8580-4b17-ad59-47f114def346",
      "name": "Output for Human"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text from the AI Agent\n// We use your existing path, but removed .toLowerCase() because the tag is case-sensitive\nconst rawText = $input.first().json.output?.[0]?.content?.[0]?.text || $input.first().json.output || \"\";\n\n// 2. Check if the specific tag exists (returns true/false)\nconst wantsHuman = rawText.includes(\"###HUMAN_HANDOFF###\");\n\n// 3. Create a clean version of the message (removes the tag)\n// Use this 'clean_response' in your Messenger/Instagram nodes later!\nconst cleanResponse = rawText.replace(\"###HUMAN_HANDOFF###\", \"\").trim();\n\n// 4. Return the boolean exactly as before so your IF node works\nreturn [{\n    json: { \n        wantsHuman: wantsHuman,\n        output: cleanResponse \n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        880
      ],
      "id": "15edcf6f-dd5e-4205-a26c-cd1daee5e6c8",
      "name": "Human Keyword",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        320
      ],
      "id": "3325be8f-b568-4e13-8ef9-e0066151d94d",
      "name": "Pipeline Embedding",
      "credentials": {
        "openAiApi": {
          "id": "AHMemnFcLIcA3b8a",
          "name": "NeuroLink"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        1264
      ],
      "id": "4d5c0461-5063-48f9-8d90-25857f9a7151",
      "name": "Chatbot Embedding",
      "credentials": {
        "openAiApi": {
          "id": "AHMemnFcLIcA3b8a",
          "name": "NeuroLink"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get Inputs\nconst item = $('Query Bans').item;\nconst itemData = item ? item.json : {};\n\n// SAFETY CHECK\nif (!item || Object.keys(itemData).length === 0) {\n  return [{ json: { isBanActive: false, reason: \"User not found\" } }];\n}\n\nconst rawTime = String(itemData.Unban_Time || itemData.unban_time || '00:00:00');\nconst rawDate = String(itemData.Unban_Date || itemData.unban_date || '1970-01-01');\n\n// 2. Helper with \"SWAP FIX\"\nfunction getComparableID(dateStr, timeStr) {\n  let year, month, day;\n\n  // Case A: Postgres ISO Format (2025-04-12)\n  if (dateStr.includes('-')) {\n    const cleanDate = dateStr.split('T')[0];\n    const parts = cleanDate.split('-'); // [2025, 04, 12]\n    \n    year = parts[0];\n    \n    // --- THE FIX IS HERE ---\n    // We swap them: We take the MIDDLE number as DAY, and LAST number as MONTH\n    // Input: 2025-04-12 (April 12)\n    // Interpret as: Day 04, Month 12 (Dec 4)\n    day = parts[1];   // 04\n    month = parts[2]; // 12\n    // -----------------------\n  } \n  // Case B: Slash Format (Assuming you might have mixed formats)\n  else {\n    const parts = dateStr.split('/');\n    if (parts.length < 3) return 19700101000000;\n    // Standard DD/MM/YYYY\n    day = parts[0].padStart(2, '0');\n    month = parts[1].padStart(2, '0');\n    year = parts[2];\n  }\n\n  // Parse Time\n  const tParts = timeStr.split(':');\n  const hour = (tParts[0] || '00').padStart(2, '0');\n  const min = (tParts[1] || '00').padStart(2, '0');\n  const sec = (tParts[2] || '00').split('.')[0].padStart(2, '0');\n\n  return {\n    // Result: 20251204...\n    id: Number(`${year}${month}${day}${hour}${min}${sec}`),\n    readable: `${year}-${month}-${day} ${hour}:${min}:${sec}`\n  };\n}\n\n// 3. Calculate\nconst unbanObj = getComparableID(rawDate, rawTime);\n\n// 4. Get Current Amman Time\nconst nowInJordan = new Date().toLocaleString(\"en-CA\", {\n  timeZone: \"Asia/Amman\",\n  hour12: false\n});\nconst cleanNowString = nowInJordan.replace(/[\\s,:-]/g, \"\");\nconst currentID = Number(cleanNowString);\n\n// 5. Logic\nconst isBanActive = currentID < unbanObj.id;\n\nreturn [{\n  json: {\n    currentTime: nowInJordan,\n    dbTimeInterpreted: unbanObj.readable, // Should now show 2025-12-04\n    isBanActive: isBanActive,\n    originalDate: rawDate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        672
      ],
      "id": "a51cfb79-715b-4d31-acfb-7183ff42ca84",
      "name": "Ban Time Calculation",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "webhook/connect-client",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        672
      ],
      "id": "2d3f1b5c-7a51-47b6-afaa-829acbd26f2c",
      "name": "Receive The Message",
      "webhookId": "6112a7d5-1af7-4aff-b3e2-18ddb7db1162"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        480
      ],
      "id": "33cf1bc0-19dd-4409-bc19-2929b9fc7d1d",
      "name": "Update Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8nNeuroLinkBans",
          "mode": "list",
          "cachedResultName": "n8nNeuroLinkBans"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "=id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": "={{ [\"id\",\"Unban_Time\",\"Unban_Date\"] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        672
      ],
      "id": "ded32528-1c3f-4019-aeea-16692ca33758",
      "name": "Query Bans",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vyjo10oamNLYPvwV",
          "name": "RAGNeuroLink DB"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8nNeuroLinkBans",
          "mode": "list",
          "cachedResultName": "n8nNeuroLinkBans"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json['Sender ID'] }}",
            "Timestamp": "={{ $json.Time }}",
            "Unban_Time": "={{ $json.Time2HourAhead }}",
            "Ban_Date": "={{ $json.banDate }}",
            "Unban_Date": "={{ $json.unbanDate }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false
            },
            {
              "id": "Unban_Time",
              "displayName": "Unban_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false
            },
            {
              "id": "Ban_Date",
              "displayName": "Ban_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "Unban_Date",
              "displayName": "Unban_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        976
      ],
      "id": "508376a2-3502-4f86-aa15-bb7be3506643",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "vyjo10oamNLYPvwV",
          "name": "RAGNeuroLink DB"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        496,
        1264
      ],
      "id": "9713179a-a025-47d2-9960-c1472a55b3de",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "6HDlNV7M0QF9YfA2",
          "name": "NeuroLink Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        304,
        144
      ],
      "id": "e135e551-8b91-4fa0-b311-14bc81147edb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// NEW \"PASS-THROUGH\" CODE\nconst itemsIn = $input.all();\nconst itemsOut = [];\n\nfor (const item of itemsIn) {\n    const inputText = item.json.text;\n    // Fallback title if missing\n    const documentTitle = item.json.info?.Title || 'General_Doc';\n\n    // We do NOT split here anymore. We pass the whole text.\n    itemsOut.push({\n        json: {\n            text: inputText, // Full document text\n            metadata: {\n                source: documentTitle\n            }\n        }\n    });\n}\n\nreturn itemsOut;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        144
      ],
      "id": "2bda5902-720a-4bcd-aa7c-524d5a78a87c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.metadata.source }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        864,
        320
      ],
      "id": "ff4e9e27-3a41-4603-916a-f99b002c7ea0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 600,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        528,
        512
      ],
      "id": "a18e6878-c73e-4081-a5ff-07171abd2b7a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "PASTE_YOUR_APP_ID_HERE"
            },
            {
              "name": "redirect_uri",
              "value": "PASTE_YOUR_PRODUCTION_WEBHOOK_URL_HERE"
            },
            {
              "name": "client_secret",
              "value": "PASTE_YOUR_APP_SECRET_HERE"
            },
            {
              "name": "code",
              "value": "={{ $json.query.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -576,
        864
      ],
      "id": "2c898a6a-e1d8-417e-8eb2-76d37eb33e85",
      "name": "Exchange Code for Token"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/me/accounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -592,
        1072
      ],
      "id": "2fb1a708-b69e-46c1-8e5c-820128fd3532",
      "name": "Get Page Keys"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "NeuroLink Connected! You can close this window.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -592,
        1280
      ],
      "id": "b5ee8a3d-4f37-4c42-9611-13c3ece36e41",
      "name": "Success Message"
    },
    {
      "parameters": {
        "content": "# API User",
        "height": 688,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        752
      ],
      "typeVersion": 1,
      "id": "fb138ae4-546f-406e-bbe8-e590041b8a26",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Human Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification": {
      "main": [
        [
          {
            "node": "Update Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Open AI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Look Up Files": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute when clicking": {
      "main": [
        [
          {
            "node": "Look Up Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Answer": {
      "main": [
        [
          {
            "node": "Insta/Mess Human Need",
            "type": "main",
            "index": 0
          },
          {
            "node": "Time Of Ban",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Output": {
      "main": [
        [
          {
            "node": "Insta/Mess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insta/Mess": {
      "main": [
        [
          {
            "node": "Messenger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgent Email to neurolink": {
      "main": [
        []
      ]
    },
    "Time Of Ban": {
      "main": [
        [
          {
            "node": "Output for Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ban": {
      "main": [
        [],
        [
          {
            "node": "Extract Output For Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Output For Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insta/Mess Human Need": {
      "main": [
        [
          {
            "node": "Messenger Human Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Human Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output for Human": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Keyword": {
      "main": [
        [
          {
            "node": "Human Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store / Data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot Embedding": {
      "ai_embedding": [
        [
          {
            "node": "Query Data",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ban Time Calculation": {
      "main": [
        [
          {
            "node": "Check Ban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive The Message": {
      "main": [
        [
          {
            "node": "Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Exchange Code for Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OK to Meta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Bans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Bans": {
      "main": [
        [
          {
            "node": "Ban Time Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Urgent Email to neurolink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Query Data",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Vector Store / Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store / Data",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Exchange Code for Token": {
      "main": [
        [
          {
            "node": "Get Page Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Keys": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49c579cf3cd591525ae7affa12c3782a153e439c8e3a3e605f568e38c2c01c7e"
  }
}
